.nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   /* background:rgb(129, 125, 143); */
   background:#82a2c4;
    padding: 10px 0%;
    list-style: none;
}

/* .name{
   font-family:fantasy;
   font-size: 30px;
   color: white;
   padding-left: 2%;
 
} */

ul li a {
    text-decoration: none;
    display: inline-block;
    margin: 10px 20px;
    cursor: pointer;
    font-family:fantasy;
    font-size: 30px;
    color: white;
}

ul li a:hover{
    color: rgb(11, 152, 247);
}